@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  background-color: #282828;    
  color:#d5c4a1;
  font-family: 'Open Sans', sans-serif; 
  color:#8ec07c;
}

#header{
  font-style:italic;
  margin-left:28px;
}
#statusline{
  margin-top:20px;
  color:#928374;
  font-weight:600;
} 
.btn{
  width:50px;
  height:50px;
  border:1px solid black;
  margin-top:0px;
  font-size:50px;
  text-align: center; 
  font-family: 'Indie Flower', cursive;
  font-weight: 500;
  background-color :#282828;
  border:0px solid white;
}
#top1{
  border-bottom:2px solid #a89984;
}
#top2{
  border-bottom:2px solid #a89984;
}
#top1 input:first-child{
  border-right:2px solid #a89984;
}
#top2 input:first-child{
  border-right:2px solid #a89984;
}
#top3 input:first-child{
  border-right:2px solid #a89984;
}
#top1 input:last-child{
  border-left:2px solid #a89984;
}
#top2 input:last-child{
  border-left:2px solid #a89984;
}
#top3 input:last-child{
  border-left:2px solid #a89984;
}
.btn:hover{
  cursor:pointer;
}
.btn:focus {
    outline: none ! important;
}
#main{
  display: table;
  margin: 0 auto;
}
h2{
  margin-bottom:0px;
}
p{
  margin-top:0px;
}
button{
  margin-top:10px;
  border:none;
  width:40px;
  height:40px;
  color:white;
}
button:hover{
  cursor:pointer;
}

span{
  color:red;
}
#footer{
 text-align: center; 
 width:100%;
 position: fixed;
 left:0;
 bottom:0;
 color:#928374;
}
