@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  font-family: 'Roboto', sans-serif;
	color:#121212;
}
#content{
	clear:both;
	padding-top:15px;
}
.tab{
	padding-left:10px;
	padding-bottom:5px;
	padding-top:0px;
}
.tab-title{
	color:#121212;
  font-family: 'Roboto', sans-serif;
	font-size:23px;
	margin-top:10px;
	margin-bottom:10px;
}
.tab-title:hover{
	color:#EA168E;
}
.read-more{
	color:#4183C4;
	text-decoration:none;
}
.read-more:hover{
	color:#4183C4;
}
@media (min-width: 1000px) {
  .tab {
		margin-right:20%;
		margin-left:20%;
  }
}
a{
	text-decoration:none;
}
.written-date{
	font-style:italic;
	font-size:17px;
	color:#121212;
	margin-top:0px;
}

