.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#content{
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-left: 3%; 
  margin-right: 3%;
  margin-top: 12px;
}
@media (min-width: 1000px){
  #content{
    margin-right: 20%;
    margin-left: 20%; 
  }
}


#blog-block-container{
  border: 1px solid #a89984;
  border-radius: 10px;
}

#blog-block-title{
  margin-left: 12px;
}

#content a:hover{
  color: #d79921;
}
#footer span{
  color:red;
}

#footer{
 text-align: center; 
 width:100%;
 position: fixed;
 left:0;
 bottom:0;
 color:#928374;
 font-family: "Open Sans", sans-serif;
}
