@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  color: #121212;
}
table {
  font-size:20;
  color: white;
}

#menu{
  float: right;
	padding:0px;
}
#heading{ font-size: 30px;
  padding-left: 5px;
  font-family: 'Caveat', cursive;
  margin: 1%;
  color: #689d6a;
  float: left; 
	color:#EA168E;
	font-family: 'Permanent Marker', cursive;
}

a{
  color: #121212;
	font-weight:500;
  text-decoration: none;
}

a:hover {
  color: #222222;
}

@media (min-width: 1000px) {
  #menu{
		padding-right:20%;
  }
}

@media (min-width: 1000px){
	#heading{
		padding-left:20%;
	}
}

@media (min-width: 1000px){
	#heading{
		padding-left:20%;
	}
}
#switch-mode-button:hover{
	cursor:pointer;
}
