@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  color: #121212;
} table {
  font-size:20;
}

#menu{
  float: right;
}
#heading{ 
	font-size: 25px;
  padding-left: 5px;
  margin: auto;
  float: left; 
	color:#EA168E;
	font-style:italic;
  font-family: 'Rock Salt', cursive;
}

a{
  color: #121212; 
	font-weight:500;
  text-decoration: none;
}

a:hover {
	color:#EA168E !important;
}

@media (min-width: 1000px) {
  #menu{
		padding-right:20%;
  }
}

@media (min-width: 1000px){
	#heading{
		padding-left:20%;
	}
}

@media (min-width: 1000px){
	#heading{
		padding-left:20%;
	}
}
#switch-mode-button:hover{
	cursor:pointer;
}
