#content{
  float:left;
  margin-top: 30px;
  font-size: 20px;
  padding: 12px;
	padding-top:0px;
	margin-top:10px;
}

#content table{
  margin: 0 auto;
}
#hello-gif{
	height:200px;
	display:inline-block;
	border:3px solid #303841;
	border-radius:50%;
}
#gif-holder{
	align-items:center;
	text-align:center;
}
@media (min-width: 1000px) {
  #content {
    margin-left: 27%;
    margin-right: 27%;
  }
}
