#content{
  float:left;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 12px;
  color: #d5c4a1;
}
@media (min-width: 1000px) {
  #content {
    margin-left: 27%;
    margin-right: 27%;
  }
}
#content a{
  color: #d5c4a1;
}
#content table{
  margin: 0 auto;
}



