body{
    font-family: 'Open Sans', sans-serif;
		color:black;
}
#intro{
	margin:auto;
    height: 500px;
		width:39%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#socials{
	padding-left:3px;
}
#socials li{
	margin:3px;
}
#text{
	font-size:21px;
	font-weight:500;
}
#text a{
	color:blue;
	text-decoration:none;
}
#text a:hover{
	color:#003355;
	text-decoration:underline;
}
ul li{
	display:inline; 
}
#hello{
	font-size:30px;
	color:black;
	padding:0px;
	margin:0px;
	font-weight:500;
}
@media (max-width: 767px) {
	#intro{
		margin:auto;
			width:80%;
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
	}
}

