body{
	background-color:#002b36;
	color: #657b83;
	font-family: Libre Baskerville, serif;
}
#content{
	font-size:18px;
	margin-left:8%;
	margin-right:8%;
}
h2{
	color:#268bd2;
	font-size:25px;
}
a{
	color:#268bd2;
}
.author{
	font-size:18px !important;
	margin-left:10% !important;
	margin-right:10% !important;
}
.date{
	font-size:18px !important;
	margin-left:10% !important;
	margin-right:10% !important;
}
.title{
	display:none;
}
